.App {
  font-family: arial;
  height: 100vh;
  width: 100%;
}

/*General components to be used throughout*/
hr{
  width: 40px;
}

/*****************++++++++++++++++++++++Head Section++++++++++++++++++++++*****************/
/*headSection and subcomponents styling*/
/*#headSection{
  text-align: center;
  height: 100%;
  width: 100%;
  height: 200px;
  background-color: #00AAFF;
  color: white;
}*/

.headSection{
  padding-bottom: 50px;
  text-align: center;
  background-color: #00AAFF;
  color: white;
}

/*UnitSelect and subcomponents styling*/

#UnitSelect{
  text-align: center;
}

.UnitDropdown{
  width: 150px;
  margin: 0 auto;
}

/*SearhBar and subcomponents styling*/
#SearchBar{
  text-align: center;
  vertical-align: middle;
}

.PageHeader{
  text-decoration: none;
  border: none;
}

.icon{
  text-align: center;
  width: 45px;
  margin-top: 50%;
}

#stormIcon{
  float: right;
}
#sunIcon{
  float: left;
}

.search{
  vertical-align: middle;
  width: 220px;
  height: 30px;
  font-size: 20px;
}

.submit{
  vertical-align: middle;
  height: 35px;
}

#SavedSearches{
  text-align: left;
}

#SavedSearchesInner{
  overflow-y: auto;
  direction: rtl;
}

#whiteText{
  color: white;
}



/*****************++++++++++++++++++++++Body Section++++++++++++++++++++++*****************/

  .bodySection{
    padding: 50px 0px;
    border: 1px solid #FFFFFF;
    background-color: #5ad9f9;
    text-align: center;
  }

  .weatherBlock{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 15px;
    border: 2px solid #D9D9D9;;
    border-radius: 5px;
  }

  /*MyWeather and subcomponents styling*/
  #MyWeather{
    text-align: left;
    width: 100%;
    /* height: 280px; */
  }

/*TheirWeather and subcomponents styling*/
#TheirWeather{
  margin-bottom: 30px;
  width: 100%;
  /* height: 280px; */
  text-align: center;
}

/*Forecasts and subcomponents styling*/
#Forecasts{
  /* height: 280px; */

  /* text-align: center; */
}
#ForecastsWrapper{
  /* height: 200px; */
  overflow-y: auto;
}


.rowItem{
  font-size: 12px;
  text-align: center;
}
/*SaveWeather and subcomponents styling*/
#SaveWeather{
  text-align: center;
}

#SaveWeatherInner{
  display: inline-block;
  text-align: left;
}




.footerSection{
  height: 110px;
  padding-top: 20px;
  background-color: #00AAFF;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

#attribution{
  padding-left: 10px;
  color: white;
}
#githubLink{
  padding-right: 10px;
  color: white;
  display: inline-block;
}

a{
  color: #D9D9D9;
  text-decoration: none !important;
}

a:hover{
  color: purple;
}
