.App {
  font-family: arial;
}

/*General components to be used throughout*/
hr{
  width: 40px;
}

/*****************++++++++++++++++++++++Head Section++++++++++++++++++++++*****************/
/*headSection and subcomponents styling*/
/*#headSection{
  text-align: center;
  height: 100%;
  width: 100%;
  height: 200px;
  background-color: #00AAFF;
  color: white;
}*/

.headSection{
  text-align: center;
  background-color: #00AAFF;
  color: white;
  height: 250px;
}

/*UnitSelect and subcomponents styling*/
#UnitSelect{
  text-align: right;
  padding: 30px 20px 0px 0px;
}

/*SearhBar and subcomponents styling*/
#SearchBar{
  text-align: center;
  vertical-align: middle;
}

.PageHeader{
  text-decoration: none;
  border: none;
}

.icon{
  text-align: center;
  width: 45px;
  margin-top: 50%;
}
.search{
  vertical-align: middle;
  width: 220px;
  height: 30px;
  font-size: 20px;
}

.submit{
  vertical-align: middle;
  height: 35px;
}

.SavedSearches{
  text-align: left;
}

.SavedSearchesInner{
  overflow-y: auto;
  direction: rtl;
}

#whiteText{
  color: white;
}



/*****************++++++++++++++++++++++Body Section++++++++++++++++++++++*****************/

  .bodySection{
    border: 1px solid #FFFFFF;
    background-color: #5ad9f9;
    height: 350px;
    text-align: center;
    clear: both;
  }

  .swoop{
    /*border: 1px solid orange;*/
  }
/*TheirWeather and subcomponents styling*/
#TheirWeather{
  clear: both;
  width: 30%;
  height: 280px;
  text-align: center;
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #191B1A;
}


/*Forecasts and subcomponents styling*/
#Forecasts{
  width: 30%;
  height: 350px;
  margin-right: 10px;
  float: right;
  display: inline-block;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #191B1A;

}
#ForecastsWrapper{
  height: 200px;
  overflow-y: auto;
}

/*MyWeather and subcomponents styling*/
#MyWeather{
  text-align: left;
  margin-left: 10px;
  padding-left: 10px;
  width: 30%;
  height: 280px;
  float: left;
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #191B1A;

}

.rowItem{
  font-size: 12px;
  text-align: center;
}
/*SaveWeather and subcomponents styling*/
#SaveWeather{
  text-align: center;
}

#SaveWeatherInner{
  display: inline-block;
  text-align: left;
}

#base{
  padding-top: 20px;
  clear: both;
}



.footerSection{
  background-color: #00AAFF;
  /*height: 300px;*/
  clear: both;
}

#attribution{
  padding-left: 10px;
  color: white;
  display: inline-block;
  float: left;
}
#githubLink{
  padding-right: 10px;
  color: white;
  display: inline-block;
  float: right;
}

a{
  color: #D9D9D9;
  text-decoration: none !important;
}

a:hover{
  color: purple;
}
