.App {
  font-family: Arial;
}

#search{
  height: 25px;
  width: 300px;
  font-size: 20px;
}

#SearchBar{

  text-align: center;
  display: inline-block;
}

#UnitSelect{
  float: right;
  display: inline-block;
}
